@use './partials/var' as *;
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@fontsource/montserrat/index.css';


body{
    font-family: $main-font;
    background-color: $background-color;
    h2,
    h5,
    p{
        -webkit-text-stroke: .5px black;
    }
}